<section class="packet">
  <div class="container">
    <div class="packet__header">Выберите нужный пакет</div>
    <div class="packet__list">
      <div class="packet__item packet__item_black">
        <div class="packet__version packet__version_black">– PRO –</div>
        <div class="packet__price packet__price_black">20.000 ₽</div>
        <div class="packet__descr packet__descr_black">УМК по робототетхнике и программированию</div>
        <div class="packet__button packet__button_black">Оставить</div>
      </div>
      <div class="packet__item">
        <div class="packet__version">– ROBO –</div>
        <div class="packet__price">15.000 ₽</div>
        <div class="packet__descr">УМК по робототетхнике </div>
        <div class="packet__button">Оставить</div>
      </div>
      <div class="packet__item">
        <div class="packet__version">– PROG –</div>
        <div class="packet__price">10.000 ₽</div>
        <div class="packet__descr">УМК по программированию</div>
        <div class="packet__button">Оставить</div>
      </div>
    </div>
  </div>
</section>
