<section class="trainers" id="trainers">
  <div class="container">
    <div class="h2 trainers__header">
      Профессиональные тренеры
    </div>


  </div>
  <div class="swiper trainers__slider">
    <div class="swiper-wrapper">
       <div class="swiper-slide">
        <picture class="trainers__img">
          <source srcset="img/1.avif" type="image/avif">
          <source srcset="img/1.webp" type="image/webp">
          <img loading="lazy" src="img/1.jpg" class="image trainers__image" width="360" height="500" alt="">
        </picture>
        <div class="trainers__name">Ирина Лайм</div>
        <div class="trainers__role">преподаватель по робототехнике</div>

       </div>
       <div class="swiper-slide">
        <picture class="trainers__img">
          <source srcset="img/2.avif" type="image/avif">
          <source srcset="img/2.webp" type="image/webp">
          <img loading="lazy" src="img/2.jpg" class="image trainers__image" width="360" height="500" alt="">
        </picture>
        <div class="trainers__name">Марина Орлова</div>
        <div class="trainers__role">преподаватель по робототехнике</div>

       </div>
       <div class="swiper-slide">
        <picture class="trainers__img">
          <source srcset="img/3.avif" type="image/avif">
          <source srcset="img/3.webp" type="image/webp">
          <img loading="lazy" src="img/3.jpg" class="image trainers__image" width="360" height="500" alt="">
        </picture>
        <div class="trainers__name">Максим Петров</div>
        <div class="trainers__role">преподаватель по программированию</div>

       </div>
       <div class="swiper-slide">
        <picture class="trainers__img">
          <source srcset="img/4.avif" type="image/avif">
          <source srcset="img/4.webp" type="image/webp">
          <img loading="lazy" src="img/4.jpg" class="image image1 trainers__image" width="360" height="500" alt="">
        </picture>
        <div class="trainers__name">Константин Назаров</div>
        <div class="trainers__role">преподаватель по робототехникерпртмслр</div>

       </div>
       <div class="swiper-slide">
        <picture class="trainers__img">
          <source srcset="img/5.avif" type="image/avif">
          <source srcset="img/5.webp" type="image/webp">
          <img loading="lazy" src="img/5.jpg" class="image trainers__image" width="360" height="500" alt="">
        </picture>
        <div class="trainers__name">Лиза Весенняя</div>
        <div class="trainers__role">преподаватель по программированию</div>

       </div>


    </div>

  </div>
  <div class="container">
  <div class="trainers__nav">
    <div class="trainers__scroll swiper-scrollbar"></div>
    <div class="trainers__btns">
      <button class="btn-reset trainers__slider-btn trainers__slider-btn--prev" aria-label="Перейти к предыдущему слайду">


      </button>
      <button class="btn-reset trainers__slider-btn trainers__slider-btn--next" aria-label="Перейти к следующему слайду">


      </button>
    </div>
  </div></div>
</section>

