.footer {
  background: #141024;height: 159px;
}
.container-fluid {
}
.footer__left {
}
.logo {
}
.image {
}
.footer__right {
}
.phone {
}
.footer__container{
padding-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__copy{
  padding-top: 5px;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */



color: rgba(255, 255, 255, 0.7);

}
