.nav{
  &__list{
    @include flex-v-center;
    @media (max-width: (1130px)){
      flex-direction: column;
    }

    }

  &__link{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    /* identical to box height, or 48px */

    text-align: center;

    color: #FFFFFF;

  }

  &__item{
    &:not(:last-child){
      margin-right: 40px;
      @media (max-width: (992px)){
        margin-right: 0;margin-bottom: 30px;
      }
    }
  }

}


